* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Nunito", sans-serif;
}

.containerMG {
  display: grid;
  grid-template-rows: 1fr 6.5fr 1fr;
  grid-template-areas: 
  "header"
  "intro"
  "footer";
}

/* .container__card {
  display: grid;
  grid-template-rows: 1fr 6.5fr 1fr;
  grid-template-areas: 
  "header"
  "cards"
  "footer"; 
}*/

/* .container__card__video {
  display: grid;
  grid-template-rows: 1fr 4fr 6.5fr 1fr;
  grid-template-areas: 
  "header"
  "video"
  "cards"
  "footer"; 
}*/

.container__contacto {
  display: grid;
  grid-template-rows: 1fr 6.5 1fr;
    grid-template-areas: 
  "header"
  "contacto"
  "footer";
}

header {
 grid-area: header;
 display: flex;
 justify-content: space-between;
 align-items: center;
}

.cards {
  grid-area: cards;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  }

.piedepag { 
  grid-area: footer;
}

header {
  color: white;
  background-color: blue;
}

header a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}

header a:hover, .cardmg:hover {
  box-shadow: 5px 5px 5px black;
  transform: scale(1.05);
  cursor: pointer;
  
}

 ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
 }

li {
  list-style: none;
  margin: 10px;
}

.intro {
  background-image: url(./img/Colombia.PNG);
  background-repeat: no-repeat;
  background-position: center;
  background-color: silver;
  background-size: cover;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
 }

.intro__box {
  border: black 3px solid;
  text-align: center;
  width: 40%;
  color: black;
  font-weight: bold;
  box-shadow: 5px 5px 5px black;
}

.intro__box p {
  font-size: 18px;
}

.piedepag {
  background-color: blue;
  text-align: right;
  color: white;
  
}

.cards {
  background-color: lightgray;
}

.cardmg {
  border: 3px black solid;
  width: 20%;
  height: 300px;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1%;
}

.card__imagen {
  width: -webkit-fill-available;
  margin: 4%;
 
}

.card__titulo {
  margin: 10px;
  text-align: center;
  }

#frame__videoferias {
  background-color: lightgrey;
  grid-area: video;
  display: flex;
  justify-content: center;
  align-items: center;
}

#videoferias {
  width: 560px;
  height: 315px;
  }

#contacto {
  background-color: lightgray;
  grid-area: contacto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

}

#formulario {
  background-color: gray;
  border: 3px solid black;
  border-radius: 10px;
  margin: 50px 0;
  padding: 18px;
 }

 @media (max-width:1100px){
  
  #contacto {
  flex-direction: column;
  
  }

}

 @media (max-width:630px){
  
  .intro__box {
    width: 70%;
  }

  .cards{
    justify-content: space-evenly;
  }

  .cardmg {
    width: 250px;
}

#videoferias {
  width: 360px;
  height: 315px;
  }

  .container__card__video {
    grid-template-rows: 1fr 5fr 15fr 1fr;

  }

.mapa{
  width: 340px;
  height: 300px;
}

.container__contacto {
  grid-template-rows: 1fr 5fr 1fr;
}

}

@media (max-width:375px) {

  .containerMG {
    grid-template-rows: 1fr 5fr 1fr;
  }

  .cards {
    justify-content: center;
    }

  .cardmg {
    width: 75%;
}

.card__imagen {
  width: inherit;
 
}

#videoferias {
  width: 260px;
  height: 315px;
  }

  .container__card__video {
    grid-template-rows: 1fr 1fr 15fr 1fr;

  }

.piedepag{
    display: flex;
    align-items: center;
    justify-content: center;
}

.mapa{
  width: 280px;
  height: 300px;
}

.container__contacto {
  grid-template-rows: 1fr 5fr 1fr;
}


}

.rotate-scale-up {
	-webkit-animation: rotate-scale-up 2s linear both;
	        animation: rotate-scale-up 2s linear both;
}

/* ----------------------------------------------
 * Generated by Animista on 2022-4-15 20:45:39
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation rotate-scale-up
 * ----------------------------------------
 */
 @-webkit-keyframes rotate-scale-up {
  0% {
    -webkit-transform: scale(1) rotateZ(0);
            transform: scale(1) rotateZ(0);
  }
  50% {
    -webkit-transform: scale(1.5) rotateZ(180deg);
            transform: scale(1.5) rotateZ(180deg);
  }
  100% {
    -webkit-transform: scale(1) rotateZ(360deg);
            transform: scale(1) rotateZ(360deg);
  }
}
@keyframes rotate-scale-up {
  0% {
    -webkit-transform: scale(1) rotateZ(0);
            transform: scale(1) rotateZ(0);
  }
  50% {
    -webkit-transform: scale(1.5) rotateZ(180deg);
            transform: scale(1.5) rotateZ(180deg);
  }
  100% {
    -webkit-transform: scale(1) rotateZ(360deg);
            transform: scale(1) rotateZ(360deg);
  }
}

.focus-in-expand {
	-webkit-animation: focus-in-expand 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: focus-in-expand 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2022-4-15 20:53:50
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation focus-in-expand
 * ----------------------------------------
 */
 @-webkit-keyframes focus-in-expand {
  0% {
    letter-spacing: -0.5em;
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes focus-in-expand {
  0% {
    letter-spacing: -0.5em;
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}





