
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

  
  html {
    font-family: "Nunito", sans-serif;

      }

      @mixin alineacion($dis, $aling) { 
        display: $dis;
        justify-content: $aling;
      }

    .containerMG {
        display: grid;
        grid-template-rows: 1fr 6.5fr 1fr;
        grid-template-areas: 
        "header"
        "intro"
        "footer";

        header {
            @include alineacion(flex, space-between);
            align-items: center;
            color: white;
            background-color: blue;

            .navbar-brand {
              color: white;
              text-decoration: none;
              text-transform: uppercase;
              font-size: 20px;
       

              &:hover {
                  box-shadow: 5px 5px 5px black;
                  transform: scale(1.05);
                  cursor: pointer;
                  
                }
            }

            ul {
              @include alineacion(flex, flex-end);
              flex-flow: row wrap;
             

                li {
                    list-style: none;
                    margin: 10px;

                    a {
                      @extend .navbar-brand;
                      font-size: 16px;
                      }    

                  }


               }


              }

           }

           .intro {
            background-image: url(../../img/Colombia.PNG);
            background-repeat: no-repeat;
            background-position: center;
            background-color: silver;
            background-size: cover;
            height: 100%;
            align-items: center;
            @include alineacion(flex, center);

            .intro__box {
                border: black 3px solid;
                text-align: center;
                width: 33%;
                color: black;
                font-weight: bold;
                box-shadow: 5px 5px 5px black;

                 p {
                    font-size: 18px;
                  }

              }

           }


           .piedepag { 
            grid-area: footer; 
            background-color: blue;
            text-align: right;
            color: white;
            height: 90px; 
          }

     

       $pantallas: (
         tablet: 630px,
         Celular: 375px 
       );

  
   @media (max-width: map-get($pantallas, tablet)){
  
    .intro__box {
      width: 38%;
    }
   
    .containerMG {
        grid-template-rows: 1fr 5fr 1fr;
    }
    
    }
  
  @media (max-width: map-get($pantallas, Celular)) {
  
    .intro__box {
      width: 70%;
    }
    .containerMG {
      grid-template-rows: 1fr 5fr 1fr;
    }
      .piedepag{
        display: flex;
        align-items: center;
        justify-content: center;
    }
   
  
  }
  
   
   

   @import "animaciones"

   //Hola



